* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --red-color: #db1516;
  --black-color: #000000;
  --gray-color: rgba(0, 0, 0, 0.6);
  --card-background-color: #d9d9d9;
}
#section-padding {
  padding: 75px 0px;
  /* padding-top: 95px;
  padding-bottom: 0px; */
}
.back-img-main {
  background-image: url(./Component/asset/img/Home/back-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.heading-section h3 {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  color: var(--red-color);
}

.heading-section p {
  text-align: center;
  font-size: 15px;
  color: var(--gray-color);
}
a.order-now-button {
  padding: 8px 20px;
  font-size: 12px;
  color: #ffffff ;
  background: var(--red-color);
  border-radius: 50px;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
a.order-now-button:hover {
  background: #ffffff;
  color: var(--red-color);
}
.text-color-red {
  color: var(--red-color);
  font-weight: 500;
}
.text-color-gray {
  color: var(--gray-color);
  font-weight: 500;
}
.text-color-black {
  color: var(--black-color);
  font-weight: 500;
}

/* Home Page*/
/* ---------------------------------*/

.top-back-ground {
  background: url(./Component/asset/img/Home/Group\ 1651.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 115vh;
  position: relative;
  display: flex;
  align-items: center;
}

.white_pad {
  position: relative;
  right: 0px;
  bottom: 0px;
}

.white_pad img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.home-heading {
  padding: 110px 0px;
}

.home-heading h2 {
  font-size: 30px;
  color: var(--red-color);
  text-align: left;
}

.home-heading p {
  font-size: 16px;
  padding: 6px 0px;
  color: var(--black-color);
}

a.learn_more2:hover {
  background: #222222;
}
.back-ground-ch {
  width: 70%;
  display: inline-block;
}

/* About Page */
/* ---------------------------------*/

.about-img {
  width: 20%;
  display: inline-block;
}
.about-content h3 span {
  color: var(--red-color);
}
.about-content p {
  font-size: 16px;
  color: var(--gray-color);
}
.hover-effect {
  display: block;
  overflow: hidden;
  position: relative;
}

/* Categories */
/* ---------------------------------*/

.circle {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(219, 21, 22, 0.5) 0px 0px 55px 0px;
}

.fresh-chicken .heading {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
}

.fresh-chicken .description {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--black-color);
  padding: 10px;
}

/* Card */
/* ---------------------------------*/

.heading-section span {
  color: var(--black-color);
}
.card-icon {
  background-color: var(--card-background-color);
  width: 48%;
  border-radius: 8px;
  margin-top: 20px;
  padding: 3px 0px;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 22px 70px 4px;
  border: none;
  border-radius: 19px;
}

/* Halal */
/* ---------------------------------*/
.halal-img-grid{
  display: flex;
  justify-content: space-between;
}
.halal-img {
  width: 85%;
  display: inline-block;
}

/* Footer */
/* ---------------------------------*/
.background-color-footer {
  background-color: #ffe5e5;
}
.footer-logo {
  width: 55%;
}

.text-color-gray span {
  color: var(--red-color);
  font-weight: 700;
}
.footer-icon {
  color: var(--gray-color);
}
.footer span {
  font-size: 14px;
  margin-left: 8px;
  color: var(--gray-color);
}
.social-media-icon {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.hr {
  background-color: var(--black-color);
  height: 1px;
  margin: 25px 0px;
}

/* Order Page */
/* ---------------------------------*/
.order-category-chicken {
  display: flex;
  align-items: center;
  width: 11%;
  justify-content: space-between;
  padding: 15px 0px;
}
.order-category-desi-chicken {
  display: flex;
  align-items: center;
  width: 18%;
  justify-content: space-between;
  padding: 25px 0px;

}

/* Media Query */
/* --------------------------------------------------------------------------------------------------*/





@media screen and (max-width: 767px) {
  .halal-img-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 10px; */

  }
  .social-media-icon {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
  }
  
}
@media screen and (max-width: 490px) {
  .halal-img-grid{
   display: block;
   width: 40%;
   margin: 0px auto;
   

  }
  
}

