* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --red-color: #db1516;
  --black-color: #000000;
}
#section-padding {
  /* padding: 75px 0px; */
  padding-top: 85px;
  padding-bottom: 0px;
}
.back-img-main {
  background-image: url(./Component/asset/img/Home/back-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

/* Home Page*/
/* ---------------------------------*/

.top-back-ground {
  background: url(./Component/asset/img/Home/Group\ 1651.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 115vh;
  position: relative;
  display: flex;
  align-items: center;
}

.white_pad {
  position: relative;
  right: 0px;
  bottom: 0px;
}

.white_pad img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.home-heading {
  padding: 110px 0px;
}

.home-heading h2 {
  font-size: 30px;
  color: var(--red-color);
  text-align: left;
}

.home-heading p {
  font-size: 16px;
  padding: 6px 0px;
  color: var(--black-color);
}

a.order-now-button {
  padding: 8px 20px;
  font-size: 12px;
  color: #ffffff;
  background: var(--red-color);
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
a.learn_more2:hover {
  background: #222222;
}
.back-ground-ch {
  width: 70%;
  /* position: absolute;
    left: 213px; */
  display: inline-block;
}

/* About Page */
/* ---------------------------------*/

.about-img {
  width: 20%;
  display: inline-block;
}
.about-content h3 span {
  color: var(--red-color);
}
.about-content p {
  font-size: 16px;
  color: var(--black-color);
}
.hover-effect {
  display: block;
  overflow: hidden;
  position: relative;
}

/* Categories */
/* ---------------------------------*/

.heading-categories h3 {
  text-align: center;
  font-size: 37px;
  font-weight: 700;
  color: var(--red-color);
}

.heading-categories p {
  text-align: center;
  font-size: 15px;
  color: var(--black-color);
}
.circle {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(219, 21, 22, 0.5) 0px 0px 55px 0px;

}

.fresh-chicken .heading {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
}

.fresh-chicken .description {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--black-color);
  padding: 10px;
}

